<section class="sheet-header">
    <div class="sheet-actions">
        <button type="button" class="create-new-lost-map">Create New</button>
    </div>
    <form class="{{cssClass}} flexcol" autocomplete="off">
        Search: <input type="text" name="search" placeholder="Search Maps" />
    </form>
</section>