<div class="header-fields">
    <h1 class="charname"><input name="name" type="text" value="{{lostMap.name}}" placeholder="Name"/></h1>
</div>
<img class="profile-img" src="{{lostMap.mapImage}}" data-edit="img" title="{{lostMap.name}}" height="100" width="100"/>