<section
    class='tab weights {{tab.cssClass}}'
    data-group='primary'
    data-tab='weights'
>
    <h1>Roll Table Weights</h1>

    <div class="form-group">
        <label for="rollTableAdjustments">Roll Table Adjustments</label>
        <textarea name="rollTableAdjustments">{{lostMap.rollTableAdjustments}}</textarea>
    </div>

</section>