.fgl-lost-map-wrapper {
    position: relative;
    width: 100%;
}

.fgl-result-text {
    font-size: 1rem;
    margin: 1rem 0;
}

.fgl-roll-results {
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

.fgl-actions-row {
    display: flex;
    justify-content: end;
}

.fgl-actions-row .fgl-button {
    font-size: 0.75rem;
}

.fgl-button {
    width: auto;
    margin-bottom: 0.625em;
}

.fgl-button.inline-action {
    line-height: 1.25rem;
    font-size: 0.75rem;
    margin-left: 0.75rem;
    margin-bottom: 0;
}

.fgl-button > span.inactive-text {
    display: block;
}

.fgl-button > span.active-text {
    display: none;
}

.fgl-button.active > span.inactive-text {
    display: none;
}

.fgl-button.active > span.active-text {
    display: block;
}

.fgl-lost-map-division {
    display: none;
    position: absolute;
    background-color: var(--division-color);
    --division-size: 2px;
    
    &.horizontal {
        left: 0;
        top: var(--division-percent);
        width: 100%;
        height: var(--division-size);
        transform:translateY(-50%);
    }

    &.vertical {
        left: var(--division-percent);
        top: 0;
        width: var(--division-size);
        height: 100%;
        transform:translateX(-50%);
    }
}

.fgl-lost-map-division.visible {
    display: block;
}

.fgl-lost-map-result {
    background-color: rgba(255,0,255,0.4);
    width: var(--result-percent);
    height: var(--result-percent);
    position: absolute;
    top: var(--result-top);;
    left: var(--result-left);
}

.fgl-lost-map-label {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.fgl-lost-map-value {
    font-weight: 400;
}